#home-header {
  width: 100%;
  height: 10vh;
  display: flex;
  padding: 0 2vw;
  place-items: center;
  background-color: #050a26;
}

#home-header nav {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
}
#home-header img {
  width: 10vw;
}
#home-header nav button {
  background-color:#2a4c80;
  color: white;
  border: none;
  padding: 10px;
	border-radius: 25px;
}

#home-more {
  width: 1.5em;
  height: 1.5em;
  border-radius: 5px;
  display: flex;
  place-items: center;
  justify-content: center;
  background-color: #121940;
}

.drop-header {
  width: 20vw;
  justify-content: space-evenly;
  background-color: #121940;
  position: absolute;
  border-radius: 10px;
  top: 5vw;
  animation-name: dropHeaderOptions;
}

#user-menu {
	position:absolute;
	right: 2vw;
	display: flex;
	gap: 1vw;
}
.user-menu-option {
	background-color:#2a4c80;
  padding: 5px;
	border-radius: 25px;
}

@keyframes dropHeaderOptions {
  from {}
  to{
    height: 25vw;
  }
}


