#main {
	display: flex;
	flex-direction: column;
	place-items: center;
}

.options {
	overflow: hidden;
	display: none;
	height: 0;
	flex-direction: column;
	place-items: center;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.inputbox{
	display: flex;
	flex-direction: column;
}
.inputbox span{
	margin-left: 20px;
}

  