input{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    width: 307.12px;
    height: 45.56px;
    border-radius: 45px;
}
div h1 {
    color: white;

}

.login{

}

.texto{
    text-align: center;
}

.botão{
    align-items: center;
    color: red;
}

.corpo{
    background-color: rgb(2, 10, 38);
    height: 600px;
    width: 413.86px;
  }