.input {
    padding: 10px;
    margin: 10px;
    width: 307.12px;
    height: 45.56px;
    border-radius: 45px;
}
span{
    color:white;
}

.text{
    display:flex;
    text-align: center;
    color: white;
    font-size: 300%;
    height: 30vh;
    place-items: center;
    justify-content: center;
}

.body{
    background-color: rgb(2, 10, 38);
    height: 100vh;
    width: 33vw;
    display: flex;
    position: absolute;
    right: 0;
    justify-content: center;
  }

