.user-register-options {
  animation-name: dropOptionsModal;
  height: 0;
  justify-content: space-evenly;
}
.modal-form {	
	display: flex;
	gap: 1vw;
	flex-direction: column;
}
.modal-form input {
	width: 100%;
	font-size: clamp(12px, 0.75vw + 0.75em, 3em);
	border-radius: 5px;
	padding: 3px;
	outline: none;
	border: none;
	color: white;
	background-color: rgba(0,0,0,0.5)
}
#jurisdiction-options {
	
}

@keyframes dropOptionsModal {
  from {}
  to{
    height: 5vw;
    background-color: #121940b4;
  }
}
