.modal {
	display: flex;
	justify-content: center;
	place-items: center;
}
.modal-shadow {
	min-width: 100vw;
	min-height: 100vh;
	position: absolute;
	top:0;
	background-color: rgba(0,0,0,0.5)
}
#user-register-content {
	z-index: 1;
	background-color: #121940;	
	position: absolute;
	top: 10vw;
	width: 33vw;
	padding: 2vw;
	border-radius: 10px
}
.user-register-options {
  animation-name: dropOptionsModal;
  height: 0;
  justify-content: space-evenly;
}
.modal-form {	
	display: flex;
	gap: 1vw;
	flex-direction: column;
}
.modal-form input {
	width: 100%;
	font-size: clamp(12px, 0.75vw + 0.75em, 3em);
	border-radius: 5px;
	padding: 3px;
	outline: none;
	border: none;
	color: white;
	background-color: rgba(0,0,0,0.5)
}
#jurisdiction-options {
	
}

@keyframes dropOptionsModal {
  from {}
  to{
    height: 5vw;
    background-color: #121940b4;
  }
}
