

@keyframes showInput {
  from{}
  to{
    width: 100%;
  }
}

@keyframes hideInput {
  from{
    width: 70%;
  }
  to{
    width: 8%;
    background-color: #12194000;  
  }
}

@keyframes openField {
  from{}
  to{
    background-color: #121940;
    gap: 5%;
  }
}

@keyframes closeField {
  from{
    background-color: #121940;
    gap: 5%;
  }
  to{
    background-color: #12194000;
    gap: 0%;
  }
}

@keyframes showDelete {
  from {
    color: #ffffff75;
  }
  to{
    color: white;
  }
} 