.edit-modal {
	text-align: center;
	display: flex;
	justify-content: center;
	margin-top: 5vw;
}
#user-list {
    width: 60%;
		min-height: 20vh;
		max-height: 80vh;
		overflow: scroll;
    margin-top: 2%;
		display: flex;
		justify-content: flex-start;
		gap: 10%;
		padding: 2%;
		flex-wrap: wrap;
		background-color: rgba(0,0,0,0.5);
		border-radius: 10px;
}

#user-card {
	cursor: pointer;
	background-color: #121940;
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	place-items: center;
	font-size: clamp(12px, 0.75vw + 0.75em, 3em);
	width: 45%;
	padding: 0 1vw;
	height: 2.5em;
}

#user-card span {
	display: block;
	text-align: center;
	width: 80%;
}
