#user-list {
    width: 60%;
		min-height: 20vh;
		max-height: 50vh;
		overflow: scroll;
    margin-top: 2%;
		display: flex;
		justify-content: flex-start;
		gap: 10%;
		padding: 2%;
		flex-wrap: wrap;
		background-color: rgba(0,0,0,0.5);
		border-radius: 10px;
}

#user {
    background-color: #121940;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    place-items: center;
    font-size: clamp(12px, 0.75vw + 0.75em, 3em);
    width: 45%;
    height: 2.5em;
}
